/* simple responsive container */
.container {
  background-color: black;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

textarea, input[type=file], input[type=number] {
  width: 100%;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
}
